BOT_TOKEN=
BOT_ADMINS="1011799638,1386308544"
BOT_NOTIFICATION_CHATS="1386308544"
BOT_DISTRIBUTION_CHATS="-1001793936624"

POSTGRES_DB="druzhinarus-bot"
POSTGRES_USER="druzhinarus-bot"
POSTGRES_PASSWORD=
POSTGRES_URL=
