BOT_TOKEN=
BOT_ADMINS="1011799638"
BOT_NOTIFICATION_CHATS="1011799638"
BOT_DISTRIBUTION_CHATS="1011799638"

POSTGRES_DB="druzhinarus-bot-dev"
POSTGRES_USER="druzhinarus-bot-dev"
POSTGRES_PASSWORD=
POSTGRES_URL=
